
html { 
  background: url(UNDERWATER.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1 {
	font-family: fantasy;
	
}

h2 {
	font-style:italic; ;
}

div.header {
	border: 2px solid black;
	background-image: url(Titel_Bild_.jpg);
	height: 100px;

	text-align: center;
	margin-left: 120px;
	margin-right: 120px;
	padding-left: 50px;
	padding-right: 50px;
	
}

div.menu {
	border: 1px solid black;
	background-color: #9AE1EE;
	height: auto;
	text-align: center;
	margin-left: 120px;
	margin-right: 120px;
	
}

ul {
	text-decoration: none;
	list-style: none;

}

li {
	display: inline;
}

div.content {
	background-color: #48C3DA;
	border: 2px solid black;
	height: 500px;
	margin-left: 120px;
	margin-right: 120px;
	padding-left: 50px;
	padding-right: 50px;
	
}
div.content2 {
	background-color: #48C3DA;

	border: 2px solid black;
	height: 500px;
	margin-left: 120px;
	margin-right: 120px;
	padding-left: 50px;
	padding-right: 50px;
	
}

body.delfin {
	background: url(bilder/BACKGROUND.jpeg) no-repeat center center fixed;
}

div.headerDelfin {
	border: 2px solid black;
	background-color: #D8E6EF ;
	height: 100px;
<<<<<<< HEAD

}
=======
  }

>>>>>>> 0355cb21de2dff6559dfd238538004c2d21f0ec3
div.contentDelfin {
	background-color: #AAEEFB;
	border: 2px solid black;
	height: 575px;
	margin-left: 120px;
	margin-right: 120px;
	padding: 70px;
}

div.contentBlau {
	background-color: #4793C4;
	border: 2px solid black;
	height: 1000px;
	margin-left: 120px;
	margin-right: 120px;
	padding-left: 50px;
	padding-right: 50px;
}

div.bilder {
	text-align: right;
	margin-top: 500px;

}

img {
	border: 2px solid black;



}

div.Pottwal{
	background-color: #AAEEFB;
	border: 2px solid black;
	height: 500px;
	margin-left: 120px;
	margin-right: 120px;
	padding-left: 50px;
	padding-right: 50px;
	
}

img {
	width: 280px;
	float: right;
	border: 1px solid black;
}

